# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist
files
resources/files
.tmp
.github
LICENSE

# Neutralinojs client (minified)
neutralinojs.log

# Neutralinojs related files
.storage
*.log
